/* youthIntake.module.css */

.errorText {
  color: #ef4444;
  font-size: 12px;
  margin-top: 4px;
}

.successfulText {
  color: rgb(9, 158, 4);
  font-size: 16px;
  margin-top: 12px;
  font-weight: bold;
  text-align: center;
}

.input {
  width: 100%;
  border-radius: 6px;
  border: 1px solid #e5e7eb;
  font-size: 13px;
  padding: 8px 12px;
  color: #1f2937;
  background: #fff;
  transition: all 0.2s ease;
}

.input:hover {
  border-color: rgba(212, 165, 255, 0.8);
  box-shadow: 0 0 0 2px rgba(97, 0, 215, 0.8);
}

.input:focus {
  border-color: rgba(97, 0, 215, 0.8);
  outline: none;
  box-shadow: 0 0 0 2px rgba(97, 0, 215, 0.8);
}

.textarea {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: 100%;
  border-radius: 6px;
  border: 1px solid #e5e7eb;
  font-size: 13px;
  padding: 8px 10px;
  color: #1f2937;
  min-height: 80px;
  resize: vertical;
  margin-top: 2px;
  display: block;
  background: #fff;
  transition: all 0.2s ease;
}

.textarea:hover {
  border-color: rgba(212, 165, 255, 0.8);
  box-shadow: 0 0 0 2px rgba(97, 0, 215, 0.8);
}

.textarea:focus {
  border-color: rgba(97, 0, 215, 0.8);
  outline: none;
  box-shadow: 0 0 0 2px rgba(97, 0, 215, 0.8);
}

.select {
  width: 100%;
  padding: 8px 12px;
  font-size: 13px;
  border: 1px solid #e5e7eb;
  border-radius: 6px;
  background: #fff;
  color: #1f2937;
  cursor: pointer;
  margin-top: 2px;
  display: block;
  transition: all 0.2s ease;
}

.select:hover {
  border-color: rgba(212, 165, 255, 0.8);
  box-shadow: 0 0 0 2px rgba(97, 0, 215, 0.8);
}

.select:focus {
  border-color: rgba(97, 0, 215, 0.8);
  outline: none;
  box-shadow: 0 0 0 2px rgba(97, 0, 215, 0.8);
}

select:disabled {
  background-color: #f0f0f0;
  cursor: not-allowed;
}

/* Tabs */
:global(.react-tabs__tab--selected) {
  background-color: rgba(97, 0, 215, 0.8) !important;
  color: white !important;
  font-weight: bold;
  border-radius: 5px;
}

:global(.react-tabs__tab-panel--selected) {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 5px;
}
